*{
    font-family: arial;
    margin: 0%;
}
header{
    background-color: #3db36b;
    color: #fff;
    text-align: center;
    padding: 2%;
    position: fixed;
    width: 100%;
}
.news{
    margin:1.3%;
    margin-top: 15%;
    margin-bottom: 0%;
        width: 40%;
        line-height: 25px;
        justify-content: space-around;
        display: inline-block;
        margin-right: 13px; 
        margin-left: 6%;   
      
}
.news img{
 width: 100%;
 object-fit: cover;
 height: 100%;
     
 

}

.news h2{
    color: #3db36b;
    
}
.news a{
    background-color: #3db36b;
    color: #fff;
    text-align: center;
    padding: 4%;
    display: block;
    text-transform: uppercase;
    width: 92%;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.5s;

}
.news a:hover{
    background-color: #297948;
    
}
footer{
    background-color: #3db36b;
    padding: 3%;
    color: #fff;
    text-align: center;
    margin: 0%;
    width: 100%;
    margin-top: 20%;
    text-decoration: solid;
}
.news2{
    margin:1.3%;
    margin-top: 30%;
    margin-bottom: 0%;
        width:40%;
        line-height: 25px;
        margin-right: 13px;
        display: inline-block;
        margin-left: 6%; 
}
.news2 a{
    background-color: #3db36b;
    color: #fff;
    text-align: center;
    padding: 4%;
    display: block;
    text-transform: uppercase;
    width: 92%;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.5s;
}
.news2 img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.news2 h2{
    color: #3db36b;
    
}
.news2 a:hover{
    background-color: #297948;
    
}